* {
  box-sizing: border-box;
}

body {
  background-color: #f2f3f8;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.heading {
  font-size: 24px;
  color: white;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  height: 60px;
  width: 100dvw;
  background-color: #2f1b45;
  margin-bottom: 2%;
}
